/* Fonts */ 
@font-face {
    font-family: 'roboto-regular';
    src: url("/fonts/roboto/Roboto-Regular.ttf") format('ttf');
}

@font-face {
    font-family: 'barlow-condensed';
    src: url("/fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf") format('ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* Fin Fonts */