/* Media query */

 /* Mobile */ 
 @media only screen and (max-width:400px) {
    footer {
        background-color:rgba(41, 38, 38, 0.733);
    }

    .foto-destino1, .foto-destino2 {
        width:80%;
        padding-left: 0px;
        margin-left:10%;
        height: 40vh;
        
    }

    .p-about {
        max-width:100%;
    }

    .parrafo-destino1, .parrafo-destino2 {
        padding-left: 0px;
    }
    .about-head {
        font-size:46px;
    }

    .main-head {
        padding-left: 0px;
    }

    .p-where {
        padding-left:0px
    }
}
/* FIN MOBILE */ 

/* TABLET */

@media only screen and (min-width:401px) and (max-width:960px) {
    footer {
        background-color:rgba(182, 169, 169, 0.733);
    }
    .about-head {
        font-size:46px;
    }

    .foto-destino1, .foto-destino2 {
        width:80%;
        padding-left: 0px;
        margin-left:10%;
        height: 40vh;
        
    }

    .parrafo-destino1, .parrafo-destino2 {
        padding-left: 0px;
    }

    .main-head {
        padding-left:0px;
    }

    .p-where {
        padding-left:0px
    }
}
/* FIN TABLET */ 

/* Desktop */

@media only screen and (min-width:961px) {
    footer {
        background-color:rgba(105, 99, 99, 0.733);
    }
} 
/* FIN DESKTOP */ 

/* Fin Media Querys */