/* Media query */

 /* Mobile */ 
 @media only screen and (max-width:400px) {

    .foto-destino1, .foto-destino2 {
        width:80%;
        padding-left: 0px;
        margin-left:10%;
        height: 40vh;
        
    }

    .img-head {
        height: 35vh;
    }
     #contacto .contact-form-msg {
         width:100%;
     }

    .p-about {
        max-width:100%;
    }

    .parrafo-destino1, .parrafo-destino2 {
        padding-left: 0px;
    }
    .about-head {
        font-size:46px;
    }

    .p-where {
        padding-left:0px
    }

    footer .footer-container ul li a {
        width:30px;
    }

    footer .footer-container .follow-us {
        padding-left:10px;
    }
}
/* FIN MOBILE */ 

/* TABLET */

@media only screen and (min-width:401px) and (max-width:960px) {

    .about-head {
        font-size:46px;
    }

    .foto-destino1, .foto-destino2 {
        width:80%;
        padding-left: 0px;
        margin-left:10%;
        height: 40vh;
        
    }

    .parrafo-destino1, .parrafo-destino2 {
        padding-left: 0px;
    }

    .p-where {
        padding-left:0px
    }


    footer .footer-container ol, footer .footer-container ul {
        padding: 10px;
    }
}
/* FIN TABLET */ 

/* Desktop */

@media only screen and (min-width:961px) {
 
    .foto-destino1, .foto-destino2 {
        width:80%;
        padding-left: 0px;
        margin-left:10%;
        height: 40vh;
        
    }


    .parrafo-destino1, .parrafo-destino2 {
        padding-left: 0px;
    }

    footer .footer-container ol, footer .footer-container ul {
        padding-left: 15px;
    }

} 
/* FIN DESKTOP */ 

/* Fin Media Querys */